.tasks-container {
  padding: 60px 85px;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  height: 100vh;

  h2 {
    margin-bottom: 24px;
  }
  h3 {
    font-size: 18px;
  }

  .last-tasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .tasks-list {
      margin-top: 28px;
    }
  }

  .completed-tasks {
    flex: 1;
    padding-top: 20px;

    .tasks-list {
      margin-top: 28px;
    }
  }
}
